{% extends 'base.html' %} 
{% block content %}
{% include 'navbar.html' %}
<br>
<br>
<br>
<br>

<!-- ======= Products Section ======= -->
<section id="products" class="products">
  <div class="container">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Productos</h2>
      <p>Compruebe la calidad y beneficios.</p>

    </div>

    <div class="row products-container" data-aos="fade-up">
      {% for producto in productos %} {% if producto.disponibilidad == "1" %}

      <div class="col-lg-4 col-md-6 products-item filter-web">
        <h5 class="text-center text-uppercase">{{ producto.titulo }}</h5>
        <div class="products-wrap">
          <center>
            <img src="{{ producto.imagen.url }}" height="150" alt="" /><br>
            <label>Stock: {{ producto.cantidad }}</label>
            <p>{{ producto.descripcion }}</p>
          </center>
        </div>
        <br />
        <center>{% include 'carrito/agregar.html' %}</center>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>
{% include 'pie_pagina.html' %} {% endblock content %}
